@import '../../scss/variables';
@import '../../scss/mixins';

.parallaxBackground {
    @include box-size(100%, 100%);
    overflow: hidden;
    pointer-events: none;
}

.parallax {
    @include box-size(auto, 100%);
    perspective: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
    user-select: none;
    margin-right: -50px; //hide scrollbar
    box-sizing: content-box;
}

.cover {
    @include box-size(auto, 2000px);
    background: #2D112B;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: $desktopZIndex;
}