@import '../../scss/variables';
@import '../../scss/mixins';

$buttonSize: 60px;
$primaryFontColor: #c7c7c7;
$secondaryFontColor: #03a9f4;

.calculator {
    @include flex(center, center, column);
    @include box-size(100%, 100%);
    background-color: #131419;
    padding: 50px 40px 40px 40px;
    
    .display {
        @include inOutNeumorphic;
        @include box-size($buttonSize * 5.5, $buttonSize / 1.5);
        line-height: $buttonSize;
        padding-right: 20px;
        text-align: right;
        font-size: 2rem;
        letter-spacing: 4px;
        border-radius: 12px;
        transition: .1s all ease-in-out;
    }

    .buttons {
        flex: 1;
        @include box-size(100%, auto);
        @include flex(space-evenly, center, column);

        .buttonRow {
            @include box-size(100%, 15%);
            @include flex(center, center);
    
            .button {
                @include box-size($buttonSize, 100%);
                @include flex(center, center);
                @include neumorphic;
                cursor: pointer;
                border-radius: 50%;
                transition: .1s all ease-in-out;
                border: 1px solid $soft-high-light;
                color: $primaryFontColor;
                text-align: center;
                

                &:not(:last-child) {
                    margin-right: 25px;
                }

                &:hover {
                    @include insetNeumorphic;
                    color: $secondaryFontColor;
                }
            }
        }
    }
}