@import '../../scss/mixins';

.topBarIcons {
    @include box-size(auto, 100%);
    @include flex(flex-end, center);
    flex: 1;
    padding: 0 1rem;
}

.speaker {
    @include box-size(1.1rem, auto);
    margin-right: -2rem;
}

.wifiIndicator {
    @include box-size(1.2rem, 1rem);
    margin-right: -2rem;
    margin-bottom: .1rem;;
}

.bluetoothIndicator {
    @include box-size(3.5rem, auto);
    margin-right: -1rem;
}

.batteryIndicator {
    @include box-size(7.5rem, auto);
    margin-right: -3rem;
    margin-left: -3rem;
}