@import '../../scss/variables';
@import '../../scss/mixins';

.topBar {
    @include box-size(100vw, $topBarHeight);
    @include flex;
    @include z-elevation-2;
    position: fixed;
    left: 0;
    right: 0;
    background-color: $darkPurple;
    z-index: $topBarZIndex;
    padding: 0 1.5rem;
    transform: translateY(-100%);
    color: $white;

    .left,
    .center,
    .right {
        @include flex(normal, center);
    }

    .left {
        flex: 2;
        @include flex(default, center);

        .brand {
            font-size: .9rem;
            user-select: none;
        }
    }

    .center {
        flex: 10;
    }

    .right {
        width: 15%;

        .time {
            font-size: .7rem;
            font-weight: normal;
            margin-left: auto;
            transform: translateY(-2px);
        }
    }
}