@import '../../scss/variables';
@import '../../scss/mixins';

$tumbleWeedSize: 60px;

.comingSoon {
    @include box-size(100%, calc(100% - 5px));
    position: relative;
    display: block;
    text-align: center;
    border-bottom: solid 2px $black;
    overflow: hidden;

    .bounce {
        @include box-size($tumbleWeedSize, $tumbleWeedSize);
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -20px;
        background-size: contain;
        animation: bounceAnim 1s cubic-bezier(.63, .09, .75, .46) infinite alternate, spinAnim 3s linear infinite;
    }

    .pebble {
        position: absolute;
        background-color: $black;

        &:nth-child(2) {
            @include box-size(20px, 20px);
            top: 95%;
            border-radius: 20px 20px 0px 0px;
            animation: pebblesAnim 1s linear infinite;
        }

        &:nth-child(3) {
            @include box-size(10px, 10px);
            top: 97%;
            border-radius: 10px 10px 0px 0px;
            animation: pebblesAnim 2s linear infinite;
        }

        &:nth-child(4) {
            @include box-size(6px, 6px);
            top: 98%;
            border-radius: 20px 20px 0px 0px;
            animation: pebblesAnim 3s linear infinite;
        }
    }

    .message {
        color: $black;
        font-weight: bold;
    }
}

@keyframes bounceAnim {

    0%,
    10% {
        bottom: 50%;
    }

    100% {
        bottom: 0%;
    }
}

@keyframes spinAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pebblesAnim {
    0% {
        right: -20%;
    }

    100% {
        right: 110%;
    }
}