@import '../../scss/variables';
@import '../../scss/mixins';

$tabBarHeight: $windowToolbarHeight;

.browser {
    @include box-size(100%, 100%);
    background: $black;

    .tabs {
        @include box-size(auto, $tabBarHeight - 2px);
        @include flex();
        position: absolute;
        top: -$tabBarHeight + 2px;
        left: 6rem;
    }

    .viewport {
        @include box-size(100%, 100%);
        @include flex();
        padding: .5rem;
        background-color: $white;

        &>* {
            color: $black;
        }
    }
}