@import '../../scss/variables';
@import '../../scss/mixins';

$padding: 2rem;

.tab {
    @include flex(center, center);
    position: relative;
    background-color: $purple;
    padding: 0 $padding;
    transition: .3s all;
    cursor: pointer;

    &:hover,
    &.active {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &:hover {
        background-color: $lightPurple;
    }

    &.active {
        background-color: $darkPurple;
    }

    .tabLabel {
        color: $white;
        font-size: .8rem;
    }

    .closeIcon {
        color: $white;
        position: absolute;
        right: .5rem;
        font-size: .9rem;
    }
}