@import '../../scss/variables';
@import '../../scss/mixins';

.dock {
    transform: translateY($dockHeight * 2);
    @include flex(space-around, center);
    @include box-size(auto, $dockHeight);
    position: relative;
    list-style: none;
    background: linear-gradient(to bottom, rgba(255, 88, 61, 0.3) 0%, rgba(202, 41, 62, 0.6) 100%);
    border-radius: 5px 5px 0 0;
    z-index: $dockZIndex;
    padding: 0 .5rem;

    //Icons
    &>*:not(:last-child) {
        margin-right: .5rem;
    }
}