@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-vt323;
}

#loading {
  overflow: hidden;
  background: #2d112b;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9001;
  position: absolute;
  top: 0;
  right: 0;
}

.progress {
  width: 300px;
  max-width: 85vw;
  height: 6px;
  bottom: 20vh;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.progress:after {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background: #fff;
  animation: load 1.5s linear;
}

@keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

.boxLoading {
  width: 60px;
  height: 60px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -10rem;
  bottom: 0;
}

.boxLoading:before {
  content: '';
  width: 60px;
  height: 5px;
  background: #000;
  opacity: 0.3;
  position: absolute;
  top: 73px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.boxLoading:after {
  content: '';
  width: 60px;
  height: 60px;
  background: #7c0031;
  border: 1px solid #000;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f26a6a #f7ecda;
}

*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

*::-webkit-scrollbar-track {
  background: #f7ecda;
  border: 2px solid #4e402d;
  border-radius: 0 !important;
  clip-path: inset(0 0 0 0);
}

*::-webkit-scrollbar-thumb {
  background: #f26a6a;
  border: 2px solid #4e402d;
  border-radius: 0 !important;
  clip-path: inset(0 0 0 0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar-thumb:hover {
  background: #f28888;
}

*::-webkit-scrollbar-thumb:active {
  background: #d85555;
}

*::-webkit-scrollbar-corner {
  background: #f7ecda;
  border: 2px solid #4e402d;
}
