@import '../../scss/variables';
@import '../../scss/mixins';

$borderColor: $purple;
$sideBorder: .4rem solid $borderColor;

.window {
    @include z-elevation-4;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: $white;
    border-left: $sideBorder;
    border-right: $sideBorder;
    border-top: 1.8rem solid $borderColor;
    border-bottom: $sideBorder;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    transition: all .4s cubic-bezier(.75,-0.5,0,1.75);

    &.fullscreen {
        width: 100% !important;
        height: calc(100% - #{$dockHeight} - #{$topBarHeight} - 5px) !important;
        top: $topBarHeight;
        left: 0;
        transform: none;
        border-radius: 0;
        border: none;

        .topBar {
            margin-top: -$topBarHeight + ($topBarHeight / 4);
            margin-left: .5rem;
            z-index: $topBarZIndex + 1;
        }
    }

    .topBar {
        position: fixed;
        margin-top: -1.3rem;
        margin-left: .2rem;
        user-select: none;
        cursor: pointer;

        .button {
            @include box-size(.9rem, .9rem);
            border-radius: 100rem;
            display: inline-block;
            margin-right: .3rem;
            cursor: pointer;

            &:hover {
                opacity: .6;
            }

            &:first-child {
                background-color: $red;
            }

            &:nth-child(2) {
                background-color: $yellow;
            }

            &:last-child {
                background-color: $green;
            }
        }
    }

    .content {
        @include box-size(100%, 100%);

        & > * {
            color: $black;
        }
    }
}