@import './scss/variables';
@import './scss/mixins';

.app {
    @include box-size(100vw, 100vh);
    overflow: hidden;

    .dock {
        @include box-size(100%, $dockHeight);
        @include flex(center, flex-end);
        position: absolute;
        bottom: 0;
    }
}