@import './scss/variables';

* {
  box-sizing: border-box;
  color: $white;
  user-select: none;
}

body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: url('./assets/img/cursors/mouse.png'), default;
}

a {
  cursor: url('./assets/img/cursors/pointer.png'), default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-select {
  user-select: none;
}