@import '../../scss/variables';
@import '../../scss/mixins';

.windowButtons {
    cursor: pointer;
    @include flex(center, center);

    .button {
        @include box-size(.9rem, .9rem);
        border-radius: 100rem;
        display: inline-block;
        margin-right: .3rem;
        cursor: pointer;

        &:hover {
            opacity: .6;
        }

        &.close {
            background-color: $red;
        }

        &.minimize {
            background-color: $yellow;
        }

        &.maximize {
            background-color: $green;
        }
    }
}