$purple: #422445;
$darkPurple: #2D112B;
$light1: #bd4882;
$light2: #ff6b97;
$light3: #ffb5b5;
$orange: #ff9166;
$white: #f0f0f0;
$black: #333333;

//Dimensions
$dockHeight: 50px;

//Z-INDEXES
$desktopZIndex: 2;
$topBarZIndex: 500;