$purple: #422445;
$darkPurple: #2D112B;
$lightPurple: #381460;
$light1: #bd4882;
$light2: #ff6b97;
$light3: #ffb5b5;
$orange: #ff9166;
$white: #e6e6e6;
$black: #333333;
$gray: #484848;
$red: #fe346e;
$yellow: #efb62c;
$green: #7ab300;
$soft-high-light: rgba(255,255,255,.05);
$dark-high-light: rgba(0,0,0,.51);

//Dimensions
$topBarHeight: 30px;
$dockHeight: 50px;

//Z-INDEXES
$desktopZIndex: 2;
$topBarZIndex: 500;
$dockZIndex: 500;

//Other
$windowToolbarHeight: 32px;