@import '../../scss/variables';
@import '../../scss/mixins';

.desktopIcons {
    @include flex(auto, auto, column);
    position: absolute;
    right: 2rem;
    color: $white;

    &> :not(:last-child) {
        margin-bottom: 2rem;
    }
}

.folderIcon {
    width: $desktopIconSize;
}

.browserIcon {
    width: $desktopIconSize;
    margin-bottom: .5rem;
}