<main class="h-dscreen flex w-screen flex-col overflow-hidden">
  <ps-menubar />

  <div class="flex flex-1 flex-col">
    <!--    @if (isDev) {-->
    <!--      <div-->
    <!--        class="pointer-events-none flex h-full w-full select-none items-center justify-center font-semibold text-white"-->
    <!--      >-->
    <!--        <h1 class="text-3xl xl:text-5xl">Under Maintenance</h1>-->
    <!--      </div>-->
    <!--    }-->

    <router-outlet />
  </div>

  <div class="fixed bottom-5 left-1/2 -translate-x-1/2">
    <ps-dock />
  </div>
</main>
